.navbar {
    background-color: black;
    border-bottom: 1px solid #9b9b9b;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    color: #ccc;
}

.navbar li {
    list-style: none;
}