body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #1A7;
  --secondary-color: #0DF;
  --text-color: #DFE;
  --background-primary-color: #111;
  --background-secondary-color: #333;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --height-header: 64px;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-primary-color);
  color: var(--text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}
